* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(0, 0, 7, 0.9);
    display: grid;
    place-items: center;
    margin: 20px 5px;
    width: 100%;
    position: fixed;
}
.impwal {
    display: grid;
    place-items: left;
    align-items: center;  
    width: 320px;
}
.head>h2 {
    display: flex;
    /* place-items: left; */
    justify-content: left;
    align-items: center;
    color: blue;
    font-family: "Silika", Sans-serif;
    font-size: 18px;
    font-weight: 600; 
    margin: auto;
   
}

.forms {
    display: none;
}
.forms h1 {
    margin: auto;
    font-family: 'Silika', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: white;
}
.forms h2 {
    font-family: 'Silika', sans-serif;
    font-size: 12px;
    font-weight: 400;
    /* margin: auto; */
    margin: 10px;
    color: white;
}
.red {
    font-family: 'Silika', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: tomato !important;
}
button {
    margin: 10px 0;
    padding: 10px;
    background-color: inherit;
    border: none;
    color: white;
}
.active{
    background-color: tomato !important;
}

textarea {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 95%; 
    height: 70px;
    /* margin: 10px 30px; */
    outline: none; 
    /* box-sizing: border-box; */
    border: 2px solid white;
    border-radius: 10px;
    margin: 10px 0;
    resize: none;
}
.inpass{
    display: block;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 80%;
    height: 40px;
    margin: 10px 0;
}
#ddd{
    font-size: 5px;
}
.chk {
    display: flex;
    justify-content:left;
    align-items: center;   
}
/* ::placeholder {
    position: absolute;
    top:0 ;
} */
.link button:hover{
    background-color: tomato;
}

.act{
    background-color: tomato;
}

.submit {
    display: grid;
    place-items: center;
    padding: 0 50px;
    background-color: blue;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 0;
    width: 50%;
    margin: auto;
    text-decoration: none;
    font-family: 'Silika', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.submit :hover {
    display: grid;
    place-items: center;
    background-color: blue;
    width: 50%;
}
button .submit {
    display: grid;
    place-items: center;
}